<header id="section-header" class="section section-header">
<link href="http://fonts.googleapis.com/css?family=Didact Gothic" rel="stylesheet" type="text/css">
 <div class="header-wrapper">
  <div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">  
  <div id="zone-branding" class="zone zone-branding clearfix container-12">
    <div class="grid-12 region region-branding" id="region-branding">
      <div class="region-inner region-branding-inner">
        <div class="branding-data clearfix">
          <hgroup class="site-name-slogan">        
            <h1 class="site-name"><a href="/" title="Home" class="active">Major Ursa</a></h1>
            <h6 id="site-slogan">an Intergalactic Blogging Service</h6>
          </hgroup>
          </div>
	</div>
      </div>
    </div>
  </div>

  <div id="zone-menu-wrapper" class="zone-wrapper zone-menu-wrapper clearfix">  
    <div id="zone-menu" class="zone zone-menu clearfix container-12">
      <div class="grid-12 region region-menu" id="region-menu">
	<div class="region-inner region-menu-inner">
          <nav class="navigation">
	    <h2 class="element-invisible">Main menu</h2>
	    <div data-mediasize="1080" class="responsive-menus responsive-menus-0-0 absolute">
	      <span class="toggler">☰ Menu</span>
	      <ul id="main-menu" class="responsive-menus-simple links inline clearfix main-menu">
          <li class="menu first active"><a href="/" class="active">Home</a></li>
          <li class="menu"><a href="/catgifs.html" title="">Important Cat Gifs</a></li>
          <li class="menu"><a href="/notes.html" title="">Notes</a></li>
          <li class="menu"><a href="/fiction.html" title="">Fiction</a></li>
          <li class="menu"><a href="/archive.html" title="">Archive</a></li>
	      </ul>
	    </div>
	  </nav>
        </div>
      </div>
    </div>
  </div>
 </div>
</header>
